body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

.ingredients-list {
    list-style: square inside;
}

ol {
    list-style: decimal inside;
}

header > img {
    width: 100px;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

#reviews > h2 {
    color: teal;
    border: 1px dotted gray;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

input:last-child {
    background-color: gold;
}

.user_review {
    background-color: rgb(234, 206, 169);
    border-radius: 10px;
    padding: 10px 25px;
    margin: 10px 25px;
}

input[type="radio"], input[type="submit"], select {
    cursor: pointer;
}

input:last-child:hover {
    filter: brightness(0.7);
}

ol > li:nth-child(even) {
    background-color: lightgray;
}

h2 + .user_review {
    border-top: 1px solid black;
}

input[type="radio"] {
    -webkit-appearance: none;
    background-image: url(./stars.png);
    width: 30px;
    height: 30px;
}

input[type="radio"]:hover {
    background-position: center;
}

input[type="radio"]:checked {
    background-position: bottom;
}